body {
  background: $navy;
}

img {
  display: block;
}

.wrapper-centered {
  @include wrapper(1280px, 80%, 0 auto);
}

.outer-wrapper {
  @include wrapper(1800px, auto, 0 auto);
}

.secondary-header {
  height: 30vw;
}


.main-nav {
  padding: 3.5rem 0 0;
  ul {
    display: flex;
    justify-content: flex-end;
    li {
      &:not(:last-child) {
        margin-right: 4rem;
      }
      a {
        @include barlow(2rem, 2.9rem);
        letter-spacing: 0.1rem;
        text-align: center;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        transition: border 0.2s;
        padding-bottom: 3px;

        &:hover:not(.selected-page) {
          border-color: $blue;
        }
      }

      .selected-page {
        color: $blue;
      }
    }
  }
}



body {
  @include lato(2rem, 3rem);
}

h2 {
  @include barlow(8rem, 9rem);
}

h3 {
  @include barlow(4.2rem, 4.2rem);
}

h4 {
  @include barlow(3.2rem, 3.2rem);
}

h5 {
  @include barlow(2.4rem, 2.4rem);
}

.click-here {
  @include click-here($navy, 1rem 2.8rem);
  @include barlow(2rem, auto);
}

.click-here.light {
  background-color: $blue;
  color: $navy;
}

::placeholder {
  color: $white;
  opacity: 1;
}

footer {
  background: $blue;
  color: $navy;
  padding: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .wrapper-centered {
    width: 85%;
  } 
}

