.blog.secondary-header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3)),
    url("../assets/blog-header.jpg");
  background-size: cover;
  background-repeat: none;
  height: 40vw;
  min-height: 400px;
  z-index: 0;
}

.comments,
.blog-content,
.comments-form {
  margin-right: 7%;
}

.blog.page-content {
  @include wrapper(1750px, null, 0 auto);
  @include flex-full(row, nowrap, null, flex-start);

  h2 {
    margin-left: 45px;
    margin-bottom: 2rem;
  }
}

.blog main {
  position: relative;
  top: -23vw;
  flex: 0 1 70%;
  max-width: 1000px;
  margin-bottom: -18vw;
}

.blog-content {
  border-bottom: 5px solid $blue;
  border-left: 5px solid $blue;
  padding: 5rem 0 5rem 5rem;

  h3 {
    margin-bottom: 1rem;
  }

  .timestamp {
    margin-bottom: 5rem;
  }
}

.blog-image {
  position: relative;
  z-index: 1;
  border-left: 45px solid rgba(0, 0, 0, 0);
  border-bottom: 45px solid rgba(0, 0, 0, 0);
  img {
    width: 100%;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: $blue;
    position: absolute;
    top: 45px;
    left: -45px;
    z-index: -1;
  }
}

.comments {
  padding: 5rem 0 5rem 5rem;

  .timestamp {
    margin: -8px 0 1rem;
  }
}

.comment-container {
  display: flex;

  &:not(:last-child) {
    margin: 4rem 0;
  }
}

.user-photo {
  margin-right: 3rem;
}

.comments-form {
  padding: 0 5rem;
  @include flex-full(column, wrap, center, center);

  .input-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  input,
  textarea {
    background: none;
    color: $white;
    padding: 1.5rem;
    border: 2px $navy solid;
    &:focus {
      border-color: $white;
    }
  }

  input {
    border-bottom-color: $blue;
    flex: 1 50%;

    &:first-of-type {
      margin: 3rem 3rem 5rem 0;
    }

    &:last-of-type {
      margin: 3rem 0 5rem;
    }
  }

  textarea {
    border: 2px $blue solid;
    width: 100%;
    height: 30rem;
    margin-bottom: 4rem;
    resize: none;
  }

  button {
    border: none;
    background: $spruce;
    width: 100%;
  }
}

.blog aside {
  order: -1;
  flex: 0 1 30%;
  margin-right: 5%;
  margin-top: 10rem;
  position: relative;

  .aside-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    background: $spruce;
  }

  h5 {
    margin-bottom: 20px;
  }
}

.aside-image {
  position: relative;
  top: -36px;
  left: -50px;
  width: 105.5%;
  img {
    width: 100%;
    object-fit: cover;
    display: block;
  }
}

.aside-text-item {
  margin: 0 3rem 3rem;
}

.recent-posts-list {
  padding-left: 20px;
  list-style: disc outside;
  li {
    margin-left: 10px;
    &::marker {
      padding-right: 10px;
    }
  }
}

.blog footer {
  margin-top: -50px;
}

// MEDIA QUERIES START HERE

@media (min-width: 1701px) {
  .blog main {
    top: -400px;
  }
}

@media (max-width: 1750px) {
  .aside-text-item {
    &:first-child::before {
      height: 27vw;
    }
  }
}

@media (max-width: 1390px) {
  .comments-form {
    .input-container {
      flex-wrap: wrap;
    }

    input {
      flex: 0 100%;
      &:first-of-type {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 1280px) {
  .blog aside {
    margin-right: 6%;
    .aside-container {
      width: 100%;
    }
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .blog.secondary-header {
    background-position: center bottom;
  }

  .blog main {
    top: 0;
    margin-bottom: 12%;
  }

  .blog aside {
    margin-top: 8%;
    margin-bottom: -15%;
  }

  .blog.page-content {
    display: block;
    position: relative;
    z-index: 0;
    top: -23vw;
  }

  .comments,
  .blog-content,
  .comments-form {
    margin-right: 8%;
  }

  .comment-content {
    .author {
      display: block;
    }
  }

  .aside-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .aside-image {
    left: 0;
    flex: 1 55%;
    margin-right: 5%;

    img {
      height: 250px;
      object-position: 50% 80%;
    }
  }

  .aside-text-item.about {
    order: 3;
    margin: 0 8% 4rem;
  }

  .aside-text-item.posts {
    order: 1;
    flex: 1 40%;
    margin: 50px 0 0;
  }

  .blog-content,
  .comments,
  .comments-form {
    margin: 0 auto;
  }

  .blog-content,
  .comments {
    padding: 5rem;
  }

  .blog-content {
    border-left: none;
  }

  .blog-image {
    border-width: 30px;
    &::after {
      top: 30px;
      left: -30px;
    }
  }

  .comment-content {
    .author {
      display: inline;
    }
  }
}

@media (max-width: 720px) {
  .comments h4 {
    text-align: center;
  }

  .blog aside {
    margin: 3% 0 -23%;
  }

  .aside-image {
    flex: 0 100%;
    margin-right: 0%;
    top: 0;

    img {
      height: 300px;
    }
  }

  .aside-text-item.about {
    margin-top: 3rem;
  }

  .aside-text-item.posts {
    margin: 0 8% 4rem;
    order: 3;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {
  .blog.secondary-header {
    min-height: 50vw;
  }
}

@media (max-width: 570px) {
  .comment-container {
    flex-direction: column;
    text-align: center;
    .user-photo {
      margin: 0 auto 2.5rem;
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .blog-image {
    border-width: 20px;
    &::after {
      top: 20px;
      left: -20px;
    }
  }

  .blog-content {
    padding: 3rem 2.5rem 4rem;

    .timestamp {
      margin-bottom: 3rem;
      .author {
        display: block;
      }
    }
  }

  .comments-form {
    padding: 0 2.5rem;
  }

  .comments {
    padding: 4rem 2.5rem 0;
  }
}
