// most styles work at vw of 1600px;

.index-header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)), url('../../../assets/header-image.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center 80%;
  height: 45vw;
  min-height: 400px;
  // position: relative;
}

.header-heading-wrapper {
  // for max-width: 1600px
  margin-left: 10%;
  width: 90%;
  margin-top: 7%;

  position: relative; // posr for goldfish image
  display: flex;
}

.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  img {
    width: 100%;
  }
}

// HOME-1 STARTS - What is under the sea?

.home-1 {
  background: $navy;
  padding: 15% 0 12%;
  text-align: center;
  max-height: 100vh;

  .centered-wrapper {
    @include flex-full(column, wrap, center, center);
  }

  p {
    width: 88%;
    margin: 4rem auto;
    text-align: left;
  }
}


.home-2 {
  background: $spruce;

  .top,
  .bottom {
    display: flex;
  }

  .bottom {
    margin-top: -60px;
  }

  .half-image {
    flex: 1 45%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text-content-container {
    flex: 1 55%;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50rem;
    }

    p {
      margin: 2rem 0;
    }
  }
}

.new-additions.half-image,
  .nemo.half-image {
    position: relative;
    z-index: 1;
    border-bottom: 45px solid rgba(0,0,0,0);

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: $blue;
      position: absolute;
      top: 45px;
      z-index: -1;
    }
  }

  .new-additions.half-image {
    order: -1;
    border-right: 45px solid rgba(0,0,0,0);
    position: relative;
    top: -45px;
    
    &::after {
      left: 45px;
    }
  }

  .nemo.half-image {
    border-left: 45px solid rgba(0,0,0,0);
    position: relative;
    bottom: -80px;

    &::after {
      left: -45px;
    }
  }

// SECTION 3

.home-3 {
  background: $navy;

  .wrapper-centered {
    display: flex;
    flex-wrap: wrap;
    padding: 15rem 0 12rem;
  }

  h4 {
    margin-bottom: 2rem;
  }
}

.icon-point {
  flex: 1 1 48%;
  display: flex;

  i {
    color: $navy;
    font-size: 2.75rem;
  }

  &:nth-child(odd) {
    margin-right: 4%;
  }

  &:first-child {
    margin-bottom: 5%;
  }
}

.icon {
  background: $blue;
  display: inline-block;
  padding: 1rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 0;
  @include flex-full(null, null, center, center);
  flex-basis: 1 50%;
}

.icon-container {
  flex: 0 60px;
  margin-right: 3%;
}

.icon-text {
  flex: 1 80%;
}

.icon-point:first-of-type i {
  font-size: 2.70rem;
  margin-top: 3px;
  margin-left: -5px;
}

.icon-point:nth-of-type(2) i {
  font-size: 3rem;
}

// SECTION 4

.home-4 {
  height: 40vw;
  background: url("../../../assets/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

// SECTION 5

.home-5 {
  background: $navy;
  
  .wrapper-centered {
    @include flex-full(row, wrap, null, center);
    padding: 8rem 0;
  }

  .square-image {
    position: relative;
    z-index: 1;
    border-bottom: 35px solid rgba(0,0,0,0);
    border-right: 35px solid rgba(0,0,0,0);
    flex: 1 30%;
    margin-right: 5rem;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: $blue;
      position: absolute;
      top: 35px;
      left: 35px;
      z-index: -1;
    }

    img {
      width: 100%;
    }
  }

  .month-profile {
    flex: 1 70%;

    p {
      margin: 3rem 0 4rem;
    }
  }
}

// SECTION 6 - GALLERY

.home-6 {
  background: $spruce;

  .gallery {
    display: flex;
    padding: 8rem 0;
  }

  .gallery-image {
    flex: 1 1 33.33%;

    &:not(:last-child) {
      margin-right: 3%;
    }

    img {
      width: 100%;
    }
  }
}

@media (min-width: 1601px) {
  .header-heading-wrapper {

  margin-left: calc((100vw - 1280px) / 2);
  max-width: 1600px;
}
}

@media (max-width: 1280px) {
  .home-2 .bottom {
    margin-top: 0;
  }

  .home-5 .square-image,
  .home-5 .month-profile {
    flex: 1 50%;
  }
} 

@media (max-width: 1080px){
  
  .home-2 .text-content-container .text-content {
    width: 100%;
    padding: 4rem 6rem 8rem;
  }

  .nemo.half-image {
    bottom: -40px;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px){
  .home-3 .wrapper-centered {
    padding: 10vw 0 8vw;
  }

  .icon-point {
    flex-basis: 100%;
    &:first-child {
      margin-bottom: 4rem;
    }
    &:nth-child(2n + 1) {
      margin-right: 0%;
    }
    margin-bottom: 4rem;
  }

  .icon-text {
    margin-top: 0.85rem;
  }

  .home-5 {
    .wrapper-centered {
      flex-direction: column;
    }

    .square-image,
    .month-profile {
      flex: 0 100%;
    }

    .month-profile {
      margin-top: 5rem;
    }

    h3 {
      text-align: center;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px){
  .home-4 {
    height: 50vw;
  }

  .home-6 .gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .home-6 .gallery-image {
    flex: 0 100%;
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 10%;
    }
  }
}
/* Landscape phones and down */
@media (max-width: 480px){
  .home-5 .wrapper-centered,
  .home-6 .gallery {
    padding: 10% 0;
  }
}
/*Even smaller*/
@media(max-width: 320px){}