@import url("https://fonts.googleapis.com/css?family=Barlow:700|Lato&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body,
header,
footer,
div,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
form,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #0c1423;
}

img {
  display: block;
}

header {
  max-height: 700px;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 3rem;
  font-size: 2rem;
  color: #fff;
}

h2 {
  font-family: 'Barlow', sans-serif;
  font-size: 8rem;
  line-height: 9rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

h3 {
  font-family: 'Barlow', sans-serif;
  font-size: 4.2rem;
  line-height: 4.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

h4 {
  font-family: 'Barlow', sans-serif;
  font-size: 3.2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

h5 {
  font-family: 'Barlow', sans-serif;
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.wrapper-centered {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

.outer-wrapper {
  max-width: 1800px;
  width: auto;
  margin: 0 auto;
}

.secondary-header {
  height: 30vw;
}

.click-here {
  background-color: #0c1423;
  padding: 1rem 2.8rem;
  display: inline-block;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
  line-height: auto;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-property: background color;
  transition-property: background color;
}

.click-here:hover {
  background: #86e0f9;
  color: #0c1423;
}

.click-here.light {
  background-color: #86e0f9;
  color: #0c1423;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-property: background color;
  transition-property: background color;
}

.click-here.light:hover {
  background: #0f614e;
  color: #0c1423;
}

i:hover {
  color: #86e0f9;
}

::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

footer {
  background: #86e0f9;
  color: #0c1423;
  padding: 1rem;
  text-align: center;
}

.main-nav {
  padding: 3.5rem 0 0;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-item:not(:last-child) {
  margin-right: 4rem;
}

.nav-item a {
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  padding-bottom: 3px;
}

.nav-item a:hover:not(.selected-page) {
  border-color: #86e0f9;
}

.nav-item .selected-page {
  color: #86e0f9;
}

.nav-icon {
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 10000;
  text-align: center;
  text-indent: -9999px;
  text-shadow: 0 0 0 gray;
  top: 25px;
  right: 25px;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 30px;
  height: 25px;
}

.icon-line {
  background: #fff;
  border-radius: 0.2rem;
  display: block;
  height: 0.3rem;
  left: 0;
  position: absolute;
  text-indent: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.5, 0.1, 0, 1.2);
  transition: all 0.6s cubic-bezier(0.5, 0.1, 0, 1.2);
  width: 30px;
}

.icon-line:first-child {
  height: 0.31rem;
  top: 0;
}

.icon-line:nth-child(2) {
  top: 10px;
}

.icon-line:nth-child(3) {
  top: 20px;
}

.menu-toggle {
  display: none;
  visibility: hidden;
}

.menu-toggle:checked ~ .main-nav {
  left: 0;
}

.menu-toggle:checked ~ label .icon-line:first-child {
  top: 0px;
  -webkit-transform: translateX(-8px) rotate(-45deg) translateY(12px);
          transform: translateX(-8px) rotate(-45deg) translateY(12px);
  width: 27px;
}

.menu-toggle:checked ~ label .icon-line:nth-child(2) {
  opacity: 0;
}

.menu-toggle:checked ~ label .icon-line:nth-child(3) {
  top: 14px;
  -webkit-transform: translateX(-5px) rotate(45deg) translateY(-8px);
          transform: translateX(-5px) rotate(45deg) translateY(-8px);
  width: 27px;
}

@media (max-width: 1280px) {
  h1 {
    font-size: calc(3.4rem + (138 - 32) * (100vw - 320px) / (1280 - 320));
    line-height: calc(3.4rem + (126 - 32) * (100vw - 320px) / (1280 - 320));
    width: 40%;
  }
  h2 {
    font-size: calc(3.6rem + (80 - 36) * (100vw - 320px) / (1280 - 320));
    line-height: 1;
  }
  h3 {
    font-size: calc(2.6rem + (42 - 26) * (100vw - 320px) / (1280 - 320));
    line-height: 1.2;
  }
  h4 {
    font-size: calc(2.6rem + (32 - 26) * (100vw - 320px) / (1280 - 320));
    line-height: 1.2;
  }
}

@media (max-width: 768px) {
  .wrapper-centered {
    width: 85%;
  }
}

@media (min-width: 481px) {
  .nav-icon {
    display: none;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 1.8rem;
    line-height: 1.6;
  }
  .index-header .wrapper-centered {
    width: 100vh;
  }
  .main-nav {
    background: rgba(12, 20, 35, 0.95);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5000;
    left: -100vw;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
  }
  .nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    height: 100%;
    font-size: 3.2rem;
  }
  .nav-item:not(:last-child) {
    margin-bottom: 1rem;
  }
  .nav-item:not(:last-child) {
    margin-right: 0;
  }
}

.index-header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../../../assets/header-image.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)), url("../../../assets/header-image.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center 80%;
  height: 45vw;
}

.header-heading-wrapper {
  margin-left: 10%;
  width: 90%;
  margin-top: 7%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-family: 'Barlow', sans-serif;
  font-size: 13.8rem;
  line-height: 12.6rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  width: 45rem;
  position: relative;
  z-index: 5;
  margin: -21px 0 10%;
}

.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
}

.hero-img img {
  width: 100%;
}

.home-1 {
  background: #0c1423;
  padding: 15% 0 12%;
  text-align: center;
}

.home-1 .centered-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-1 p {
  width: 88%;
  margin: 3rem auto 4rem;
  text-align: left;
}

.home-2 {
  background: #0f614e;
}

.home-2 .top,
.home-2 .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-2 .bottom {
  margin-top: -60px;
}

.home-2 .half-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 45%;
          flex: 1 45%;
}

.home-2 .half-image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-2 .text-content-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 55%;
          flex: 1 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-2 .text-content-container .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50rem;
}

.home-2 .text-content-container p {
  margin: 18px 0 25px;
}

.new-additions.half-image,
.nemo.half-image {
  position: relative;
  z-index: 1;
  border-bottom: 45px solid rgba(0, 0, 0, 0);
}

.new-additions.half-image::after,
.nemo.half-image::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #86e0f9;
  position: absolute;
  top: 45px;
  z-index: -1;
}

.new-additions.half-image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  border-right: 45px solid rgba(0, 0, 0, 0);
  position: relative;
  top: -45px;
}

.new-additions.half-image::after {
  left: 45px;
}

.nemo.half-image {
  border-left: 45px solid rgba(0, 0, 0, 0);
  position: relative;
  bottom: -70px;
}

.nemo.half-image::after {
  left: -45px;
}

.home-3 {
  background: #0c1423;
}

.home-3 .wrapper-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15rem 0 12rem;
}

.home-3 h4 {
  margin-bottom: 2rem;
}

.icon-point {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-point i {
  color: #0c1423;
  font-size: 2.75rem;
}

.icon-point:nth-child(odd) {
  margin-right: 4%;
}

.icon-point:first-child {
  margin-bottom: 5%;
}

.icon {
  background: #86e0f9;
  display: inline-block;
  padding: 1rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 1 50%;
      flex-basis: 1 50%;
}

.icon-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 60px;
          flex: 0 60px;
  margin-right: 3%;
}

.icon-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 80%;
          flex: 1 80%;
}

.icon-point:first-of-type i {
  font-size: 2.70rem;
  margin-top: 3px;
  margin-left: -5px;
}

.icon-point:nth-of-type(2) i {
  font-size: 3rem;
}

.home-4 {
  height: 40vw;
  max-height: 700px;
  background: url("../../../assets/banner.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-5 {
  background: #0c1423;
}

.home-5 .wrapper-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem 0;
}

.home-5 .square-image {
  position: relative;
  z-index: 1;
  border-bottom: 35px solid rgba(0, 0, 0, 0);
  border-right: 35px solid rgba(0, 0, 0, 0);
  -webkit-box-flex: 1;
      -ms-flex: 1 30%;
          flex: 1 30%;
  margin-right: 5rem;
}

.home-5 .square-image::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #86e0f9;
  position: absolute;
  top: 35px;
  left: 35px;
  z-index: -1;
}

.home-5 .square-image img {
  width: 100%;
}

.home-5 .month-profile {
  -webkit-box-flex: 1;
      -ms-flex: 1 70%;
          flex: 1 70%;
}

.home-5 .month-profile p {
  margin: 3rem 0 4rem;
}

.home-6 {
  background: #0f614e;
}

.home-6 .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8rem 0;
}

.home-6 .gallery-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
}

.home-6 .gallery-image:not(:last-child) {
  margin-right: 3%;
}

.home-6 .gallery-image img {
  width: 100%;
}

@media (min-width: 1500px) {
  h1 {
    font-size: 15rem;
    line-height: 1;
  }
  .header-heading-wrapper {
    margin-left: calc((100vw - 1280px) / 2);
    max-width: 1500px;
    margin-top: 100px;
  }
  .home-1 {
    padding: 280px 0 180px;
  }
}

@media (max-width: 1280px) {
  h1 {
    font-size: calc(3.4rem + (138 - 32) * (100vw - 320px) / (1280 - 320));
    line-height: calc(3.4rem + (126 - 32) * (100vw - 320px) / (1280 - 320));
    width: 40%;
  }
  h3 {
    font-size: calc(2.6rem + (42 - 26) * (100vw - 320px) / (1280 - 320));
    line-height: 1.2;
  }
  h4 {
    font-size: calc(2.6rem + (32 - 26) * (100vw - 320px) / (1280 - 320));
    line-height: 1.2;
  }
  .home-1 p {
    margin: 20px auto 25px;
  }
  .home-2 .bottom {
    margin-top: 0;
  }
  .home-5 .square-image,
  .home-5 .month-profile {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
}

@media (max-width: 1080px) {
  .index-header {
    height: auto;
  }
  .home-2 .text-content-container .text-content {
    width: 100%;
    padding: 8% 5% 10%;
  }
  .nemo.half-image {
    bottom: -50px;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  h1 {
    margin-top: calc(-21px + 1vw);
  }
  .home-3 .wrapper-centered {
    padding: 10vw 0 8vw;
  }
  .icon-point {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 4rem;
  }
  .icon-point:first-child {
    margin-bottom: 4rem;
  }
  .icon-point:nth-child(2n + 1) {
    margin-right: 0%;
  }
  .icon-text {
    margin-top: 0.85rem;
  }
  .home-5 .wrapper-centered {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-5 .square-image,
  .home-5 .month-profile {
    -webkit-box-flex: 0;
        -ms-flex: 0 100%;
            flex: 0 100%;
  }
  .home-5 .month-profile {
    margin-top: 5rem;
    text-align: center;
  }
  .home-5 .month-profile h3 {
    text-align: center;
  }
  .home-5 .month-profile p {
    text-align: left;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  h1 {
    margin-top: calc(-21px + 2.5vw);
  }
  .home-1 {
    padding: 18vw 0 20vw;
  }
  .home-2 .text-content-container .text-content {
    width: 85%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
  .new-additions.text-content-container .text-content {
    margin-top: -30px;
  }
  .home-2 .top,
  .home-2 .bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home-2 .half-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 90%;
            flex: 0 90%;
    margin: 0 auto;
  }
  .new-additions.half-image,
  .nemo.half-image {
    border-width: 30px;
    margin-bottom: 0;
  }
  .new-additions.half-image::after,
  .nemo.half-image::after {
    top: 30px;
  }
  .new-additions.half-image {
    border-width: 30px;
    top: -30px;
  }
  .new-additions.half-image::after {
    left: 30px;
  }
  .nemo.half-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    border-width: 30px;
    bottom: 0;
  }
  .nemo.half-image::after {
    left: -30px;
  }
  .home-4 {
    height: 50vw;
  }
  .home-5 .square-image {
    border-width: 30px;
    margin-right: 0;
  }
  .home-5 .square-image::after {
    top: 30px;
    left: 30px;
  }
  .home-6 .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home-6 .gallery-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 100%;
            flex: 0 100%;
  }
  .home-6 .gallery-image:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .header-heading-wrapper {
    margin: 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  h1 {
    width: 100%;
    text-align: center;
    margin: 20% 0 0;
  }
  .hero-img {
    position: relative;
    top: 40px;
    right: 0;
    width: 100%;
    margin-top: -20px;
  }
  .home-1 {
    padding-top: 23vw;
  }
  .home-1 p {
    width: 100%;
  }
  .new-additions.half-image,
  .nemo.half-image {
    border-width: 20px;
    margin-bottom: 1rem;
  }
  .new-additions.half-image::after,
  .nemo.half-image::after {
    top: 20px;
  }
  .new-additions.half-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    border-width: 20px;
    top: -20px;
  }
  .new-additions.half-image::after {
    left: 20px;
  }
  .nemo.half-image {
    border-width: 20px;
  }
  .nemo.half-image::after {
    left: -20px;
  }
  .home-2 .text-content-container .text-content {
    padding: 0;
    margin: 10% 0;
  }
  .new-additions.text-content-container .text-content {
    margin-top: calc(-30px + 10%);
  }
  .icon-point {
    display: block;
    text-align: center;
  }
  .icon-point:not(:last-child) {
    margin-bottom: 5rem;
  }
  .icon-point:last-child {
    margin-bottom: 1rem;
  }
  .icon {
    margin: 0 auto 2rem;
  }
  .home-5 .square-image {
    border-width: 20px;
    margin-right: 0;
  }
  .home-5 .square-image::after {
    top: 20px;
    left: 20px;
  }
  .home-5 .month-profile {
    margin-top: 2.5rem;
  }
  .home-5 .month-profile p {
    margin: 2rem 0 2.5rem;
  }
  .home-2 .bottom .text-content {
    margin-bottom: 15%;
  }
  .home-3 .wrapper-centered,
  .home-5 .wrapper-centered,
  .home-6 .gallery {
    padding: 15% 0;
  }
}

@media (max-width: 320px) {
  h1 {
    margin-top: 24%;
  }
}

.blog.secondary-header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("../../../assets/blog-header.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3)), url("../../../assets/blog-header.jpg");
  background-size: cover;
  background-repeat: none;
  height: 40vw;
  min-height: 400px;
  z-index: 0;
}

.comments,
.blog-content,
.comments-form {
  margin-right: 7%;
}

.blog.page-content {
  max-width: 1750px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog.page-content h2 {
  margin-left: 45px;
  margin-bottom: 2rem;
}

.blog main {
  position: relative;
  top: -23vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  max-width: 1000px;
}

.blog-content {
  border-bottom: 5px solid #86e0f9;
  border-left: 5px solid #86e0f9;
  padding: 5rem 0 5rem 5rem;
}

.blog-content h3 {
  margin-bottom: 1rem;
}

.blog-content .timestamp {
  margin-bottom: 5rem;
}

.blog-image {
  position: relative;
  z-index: 1;
  border-left: 45px solid rgba(0, 0, 0, 0);
  border-bottom: 45px solid rgba(0, 0, 0, 0);
}

.blog-image img {
  width: 100%;
}

.blog-image::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #86e0f9;
  position: absolute;
  top: 45px;
  left: -45px;
  z-index: -1;
}

.comments {
  padding: 5rem 0 5rem 5rem;
}

.comments .timestamp {
  margin: -8px 0 1rem;
}

.comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-container:not(:last-child) {
  margin: 4rem 0;
}

.user-photo {
  margin-right: 3rem;
}

.comments-form {
  padding: 0 5rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments-form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.comments-form input,
.comments-form textarea {
  background: none;
  color: #fff;
  padding: 1.5rem;
  border: 2px transparent solid;
}

.comments-form input:focus,
.comments-form textarea:focus {
  border-color: #0f614e;
}

.comments-form input {
  border-bottom-color: #86e0f9;
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
}

.comments-form input:first-of-type {
  margin-right: 3rem;
}

.comments-form input:last-of-type {
  margin: 3rem 0 5rem;
}

.comments-form textarea {
  border: 2px #86e0f9 solid;
  width: 100%;
  height: 30rem;
  margin-bottom: 4rem;
  resize: none;
}

.comments-form button {
  border: none;
  background: #0f614e;
  width: 100%;
}

.blog aside {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin-right: 5%;
  margin-top: 10rem;
  position: relative;
}

.blog aside .aside-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  background: #0f614e;
}

.blog aside h5 {
  margin-bottom: 20px;
}

.aside-image {
  position: relative;
  top: -36px;
  left: -50px;
  width: 105.5%;
}

.aside-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.aside-text-item {
  margin: 0 3rem 3rem;
}

.recent-posts-list {
  padding-left: 20px;
  list-style: disc outside;
}

.recent-posts-list li {
  margin-left: 10px;
}

.recent-posts-list li::marker {
  padding-right: 10px;
}

@media (min-width: 1701px) {
  .blog main {
    top: -400px;
  }
}

@media (max-width: 1750px) {
  .aside-text-item:first-child::before {
    height: 27vw;
  }
}

@media (max-width: 1390px) {
  .comments-form .input-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .comments-form input {
    -webkit-box-flex: 0;
        -ms-flex: 0 100%;
            flex: 0 100%;
  }
  .comments-form input:first-of-type {
    margin-right: 0;
  }
}

@media (max-width: 1280px) {
  .blog aside {
    margin-right: 6%;
  }
  .blog aside .aside-container {
    width: 100%;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .blog.secondary-header {
    background-position: center bottom;
  }
  .blog main {
    top: 0;
  }
  .blog aside {
    margin-top: 8%;
    margin-bottom: -15%;
  }
  .blog.page-content {
    display: block;
    position: relative;
    z-index: 0;
    top: -23vw;
  }
  .comments,
  .blog-content,
  .comments-form {
    margin-right: 8%;
  }
  .comment-content .author {
    display: block;
  }
  .aside-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .aside-image {
    left: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 55%;
            flex: 1 55%;
    margin-right: 5%;
  }
  .aside-image img {
    height: 250px;
    -o-object-position: 50% 80%;
       object-position: 50% 80%;
  }
  .aside-text-item.about {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 8% 4rem;
  }
  .aside-text-item.posts {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 40%;
            flex: 1 40%;
    margin: 50px 0 0;
  }
  .blog-content,
  .comments,
  .comments-form {
    margin: 0 auto;
  }
  .blog-content,
  .comments {
    padding: 5rem;
  }
  .blog-content {
    border-left: none;
  }
  .blog-image {
    border-width: 30px;
  }
  .blog-image::after {
    top: 30px;
    left: -30px;
  }
  .comment-content .author {
    display: inline;
  }
}

@media (max-width: 720px) {
  .blog aside {
    margin: 3% 0 -23%;
  }
  .aside-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 100%;
            flex: 0 100%;
    margin-right: 0%;
    top: 0;
  }
  .aside-image img {
    height: 300px;
  }
  .aside-text-item.about {
    margin-top: 3rem;
  }
  .aside-text-item.posts {
    margin: 0 8% 4rem;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {
  .blog.secondary-header {
    min-height: 50vw;
  }
}

@media (max-width: 570px) {
  .comment-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .comment-container .user-photo {
    margin: 0 auto 2.5rem;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .blog-image {
    border-width: 20px;
  }
  .blog-image::after {
    top: 20px;
    left: -20px;
  }
  .blog-content .timestamp {
    margin-bottom: 3rem;
  }
  .blog-content .timestamp .author {
    display: block;
  }
}

.contact.secondary-header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url("../../../assets/contact-header.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)), url("../../../assets/contact-header.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center top;
  height: 30vw;
  min-height: 400px;
}

main.contact {
  padding-bottom: 10rem;
  margin-top: -18vw;
}

main.contact h2 {
  margin: 0 0 2rem calc(300px + 5rem + 40px);
  position: relative;
  z-index: 1;
}

main.contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact-info {
  min-width: 300px;
  margin-right: 5rem;
}

.contact-info a {
  color: white;
  text-decoration: none;
}

.contact-info > a {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  font-size: auto;
  line-height: auto;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 1rem 0;
}

.contact-info span {
  display: block;
}

.contact-info .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info .social li {
  margin-right: 2rem;
}

.form-section {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

.form-container {
  position: relative;
  z-index: 1;
  border-left: 45px solid rgba(0, 0, 0, 0);
  border-bottom: 45px solid rgba(0, 0, 0, 0);
}

.form-container::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #86e0f9;
  position: absolute;
  top: 45px;
  left: -45px;
  z-index: -1;
}

.contact-form {
  position: relative;
  z-index: 1;
  background: #0f614e;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  background: none;
  color: #fff;
  padding: 1.5rem;
  border: 2px transparent solid;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #fff;
}

.contact-form input {
  border-bottom: 2px #86e0f9 solid;
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
  margin-bottom: 4.5rem;
}

.contact-form input:first-of-type {
  margin-right: 3rem;
}

.contact-form textarea {
  border: 2px #86e0f9 solid;
  width: 100%;
  height: 30rem;
  margin-bottom: 4rem;
  resize: none;
}

.contact-form button {
  border: none;
  width: 100%;
}

@media (max-width: 1350px) {
  .contact-form .input-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact-form input {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }
  .contact-form input:first-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }
  .contact-form input:last-of-type {
    margin: 3rem 0 4rem;
  }
}

@media (max-width: 1100px) {
  .contact.secondary-header {
    height: 35vw;
    min-height: auto;
    position: relative;
  }
  main.contact {
    margin-top: calc(-6rem + ((-30) - (-6)) * (100vw - 320px) / (1100 - 320));
  }
  main.contact h2 {
    margin: 0;
    width: 100%;
  }
  main.contact .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form-section {
    width: 100%;
  }
  .contact-info {
    margin: 6vw 0;
  }
}

@media (min-width: 1701px) {
  main.contact {
    margin-top: -400px;
  }
}

@media (max-width: 940px) {
  .form-container {
    border-width: 30px;
  }
  .form-container::after {
    top: 30px;
    left: -30px;
  }
}

@media (max-width: 600px) {
  .contact-info {
    margin: 10vw 0 8vw;
  }
  .form-container {
    border-width: 20px;
  }
  .form-container::after {
    top: 20px;
    left: -20px;
  }
}

@media (max-width: 600px) {
  .form-container {
    border: none;
  }
  .form-container::after {
    display: none;
  }
  .contact-form {
    padding: 2rem;
  }
}

@media (max-width: 347px) {
  .contact-form input {
    max-width: 255px;
  }
}
